/* components/QrCode/QrCodeGenerator.module.css */

.qrCodeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px;
}

.button:hover {
    background-color: #d5721e;
}

.qrCodeOutput {
    margin-top: 20px;
}

.messageContainer {
    display: flex;
    align-items: center; /* Center the image and text vertically */
    justify-content: flex-start; /* Align content to the start */
    margin-bottom: 20px; /* Space below the message container */
}

.qrCodeImage {
    margin-right: 10px; /* Space between image and text */
}

.Description {
    display: inline-block; /* Ensure the text stays inline with the image */
}

/* New class for centering the QR code */
.qrCodeCenterContainer {
    display: flex;
    justify-content: center; /* Center the QR code */
    width: 100%; /* Take full width */
}
