/* CommentForm.module.css */

.container {
  padding: 20px; /* Mantengo el padding */
  background-color: transparent; /* Cambia a transparente */
  border-radius: 8px; /* Mantén las esquinas redondeadas si lo deseas */
  display: flex; /* Flexbox para la alineación */
  flex-direction: column; /* Para que los elementos estén en una columna */
  margin-left: 60px; /* Mantén la separación si es necesario */
  margin-right: 60px;
  flex-grow: 1; /* Permite que el contenedor crezca para ocupar el espacio disponible */
  min-height: 0; /* Asegura que el contenedor no colapse */
  height: 85%; /* Ajusta el contenedor al 100% del tamaño vertical del padre */
}


.form {
    /* Estilos para el formulario */
    max-width: 400px;
    max-height: 85%;
    /* margin: auto; */
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  .formGroup {
   
    margin-bottom: 1%;
  }
  
  .label {
    display: block;
    margin-bottom: 1px;
 
    font-size: 1rem; /* Tamaño por defecto */
  }
  
  .input{
      width: 100%;
      height: 33px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }

  .textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 100px; /* Ajusta la altura según sea necesario */
  }
  

  
  .submitButton{
    background-color: #009ddc; /* Color de fondo azul */
    color: white; /* Texto blanco */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px; /* Espacio entre los botones */
  }
  .resetButton {
    background-color: #f6821f; /* Color de fondo azul */
    color: white; /* Texto blanco */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px; /* Espacio entre los botones */
  }
  
  .submitButton:hover{
    background-color: #62bb47; /* Color al pasar el mouse */
  }
  .resetButton:hover {
    background-color:#e03a3c; /* Color al pasar el mouse */
  }
  
  .error {
    color: #e03a3c; /* Color rojo para mensajes de error */
  }
  
  .success {
    color:#62bb47; /* Color verde para mensajes de éxito */
  }

  .textos{
    font-size: 1.8rem; /* Tamaño por defecto */
  }


  @media (max-width: 600px) {

    .input{

      height: 75;
  }

  .textarea {

    height: 75; /* Ajusta la altura según sea necesario */
  }
  
    

    .submitButton,
    .resetButton {
        padding: 8px 12px; /* Reduce el tamaño del padding */
        font-size: 14px; /* Reduce el tamaño del texto */
    }
  }

  

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {

  .submitButton,
  .resetButton {
      padding: 8px 12px; /* Reduce el tamaño del padding */
      font-size: 14px; /* Reduce el tamaño del texto */
  }
}

@media (max-width: 480px) {
  .submitButton,
  .resetButton {
      padding: 6px 10px; /* Reduce aún más el tamaño del padding */
      font-size: 12px; /* Reduce aún más el tamaño del texto */
      margin-right: 5px; /* Reduce el espacio entre botones */
  }
}
  
  