.container {
    padding: 20px; /* Mantengo el padding */
    background-color: transparent; /* Cambia a transparente */
    border-radius: 8px; /* Mantén las esquinas redondeadas si lo deseas */
    margin-top: 10px; /* Agrega un margen superior */
    display: flex; /* Flexbox para la alineación */
    flex-direction: column; /* Para que los elementos estén en una columna */
    margin-left: 60px; /* Mantén la separación si es necesario */
    margin-right: 60px;
    flex-grow: 1; /* Permite que el contenedor crezca para ocupar el espacio disponible */
    min-height: 0; /* Asegura que el contenedor no colapse */
    height: 100%; /* Ajusta el contenedor al 100% del tamaño vertical del padre */
}


/* Estilo para el acordeón */
.accordionItemContainer {
    width: 700px; /* Ancho fijo basado en el tamaño de "Contact information" */
    max-width: 90%; /* Asegura que el ancho no exceda el contenedor principal */
    height: 90%;
}

/* Estilo para el título principal de la página de contacto */
.Title {
    /* font-size: 24px; */
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.8rem; /* Tamaño por defecto */
}
/* ContactComponent.module.css */
.socialLinks {
    display: flex;
    justify-content: center; /* Centra los enlaces horizontalmente */
    gap: 20px; /* Espaciado entre los enlaces */
    margin-top: 20px; /* Espacio por encima de los enlaces */
}

.socialLinks a {
    text-decoration: none; /* Sin subrayado en los enlaces */
    color: #000000; /* Color de texto */
    display: flex;
    align-items: center; /* Alinea íconos y texto verticalmente */
    transition: color 0.3s, transform 0.3s; /* Agrega transición para suavizar el cambio de color */
}

.socialLinks a:hover {
    color: #d5721e; /* Cambia el color del texto a naranja al pasar el mouse */
    transform: scale(1.1); /* Opcional: aumenta ligeramente el tamaño del ícono */
}

.socialLinks i {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
    transition: color 0.3s; /* Transición suave para el color del ícono */
}

.socialLinks a:hover i {
    color: #d5721e; /* Cambia el color del ícono a naranja al pasar el mouse */
}



/* Media queries para pantallas más pequeñas */

@media (max-width: 1050px) {
    .container {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 15px; /* Reduce el padding */
    }

    .accordionItemContainer {
        width: 480px; /* Ocupa todo el ancho disponible */
        max-width: 90%; /* Asegura que no haya límite de ancho */
    }
}


/* @media (max-width: 768px) { */
@media (max-width: 868px) {
    .container {
        margin-top: 10px;
        margin-left: 3px;
        margin-right: 20px;
        padding: 15px; /* Reduce el padding */
    }

    .accordionItemContainer {
        width: 310px; /* Ocupa todo el ancho disponible */
        max-width: 90%; /* Asegura que no haya límite de ancho */
    }
}



@media (max-width: 480px) {
    .container {
        margin-top: 8px;
        margin-left: 1px;
        margin-right: 10px;
        padding: 7px; /* Reduce aún más el padding */
    }

    .accordionItemContainer {
        width: 100%; /* Ocupa todo el ancho disponible */
        max-width: 100%; /* Asegura que no haya límite de ancho */
    }

    .socialLinks {
        flex-direction: column; /* Coloca los enlaces en columna */
        gap: 10px; /* Reduce el espacio entre los enlaces */
    }
}
