.mainContainer {
    display: flex;  /* Mantiene el sidebar fijo y el contenido al lado */
    flex-wrap: nowrap; /* Evita que el contenido se mueva a otra línea */
}

.sidebar {
    position: relative;
    width: 250px;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/cats/wllppr-tools02.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.025;
    z-index: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    position: relative;
    z-index: 1;
}

.sidebar ul li {
    margin-bottom: 1px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(0.85); 
}

/* Estilo para los enlaces */
.sidebar ul li a {
    color: #000000; /* Color de texto */
    text-decoration: none;
    font-size: 18px;
    display: block; /* Esto asegura que los enlaces ocupen todo el área */
    padding: 10px 25px;  /* Espaciado: 10px arriba y abajo, 15px a la izquierda y derecha */
    border: 2px solid #d3d3d3; /* Borde gris claro inicial para los botones */
    border-radius: 20px; /* Bordes más redondeados */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Suavizar la transición del color del borde */
    text-transform: capitalize; /* Asegura que el texto comience en mayúscula */
}


/* Efecto hover para los botones */
.sidebar ul li a:hover {
    background-color: #e0e0e0;
    color: #f6821f;
    border-color: #f6821f;
}

/* Efecto floating dock */
.navItem {
    /* transform: scale(1);
    opacity: 1; */
    transform: scale(1); /* Mantener el tamaño reducido en un 25% */
    opacity: 1;
}

.navItem:hover { /* Aumentar el tamaño del elemento al pasar el mouse */
    /* transform: scale(1.2);  */
    transform: scale(1.01);
}

.neighbor { /* Aumentar ligeramente los vecinos */
    /* transform: scale(1.1);  */
    transform: scale(1);
    opacity: 0.85;
}

/* Estilo para el botón activo */
.activeLink {
    transform: scale(1.15);
    background-color: #000000 !important; /* Fondo negro */
    color: #ffffff !important; /* Texto blanco */
    border-color: #f6821f !important; /* Borde anaranjado */
}
