.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #d5721e;
    width: 95%;
    margin: 60px auto 0;
}

.input {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.input:focus {
    border-color: #009ddc;
    box-shadow: 0 0 8px #009ddc;
    outline: none;
}

.select {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    appearance: none;
    cursor: pointer;
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px;
}

.button:hover {
    background-color: #d5721e;
}

.button02 {
    padding: 10px 20px;
    background-color: #963d97; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px;
    margin-left: 10px;
}

.button02:hover {
    background-color: #e03a3c;
}

.result {
    margin-top: 20px;
    width: 100%;
}

.textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.Title {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}

.error {
    font-size: 20px;
    color: #e03a3c; 
    margin-bottom: 20px;
}

.boxError {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: #d5721e;
    font-size: 1.5rem;
    font-weight: bold;
    animation: fadeIn 0.5s;
    margin-bottom: 20px;
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
